output.log
youngtree_test_backup.ipynb

*.log
**/__pycache__/**
**/data/**
**/images/**
**/result/**
**/log/**
*test*
youngtree_test.ipynb
*_excution.py
39990_execution.py
nh_execution.py
youngtree_test.ipynb
params.py
params.py
requirements.txt
tree_drawer.ipynb
youngtree_compare.ipynb
log/0908_nh_ini.log.params
.execution.py.swp
**swp**
**png**
params_*.py
